# Bỏ qua thư mục node_modules
node_modules/

# Bỏ qua file log
npm-debug.log
yarn-error.log

# Bỏ qua build
dist/
build/

# Bỏ qua file môi trường
.env

android/app/build/
android/.gradle/
android/captures/
android/gradlew.bat
android/local.properties
android/app/.cxx

ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcshareddata/